@font-face {
    font-family: Ubuntu;
    src: url('../../../fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
}
body {
    font-family: 'Ubuntu';
}
p,
label {
    font-family: 'Ubuntu';
}
.btn-normal-enable {
    color: #ffffff;
    font-weight: bold;
    background-color: #ff9b00;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
    height: 45px;
    text-align: center;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: #f29402;
        box-shadow: none;
    }
}

.background-login {
    background-color: #0d1d2d;
    overflow: hidden;
    height: 100vh;
}

.login-form {
    .form-group {
        margin-bottom: 25px;
    }
    ::placeholder {
        color: #bbbbbb;
    }
    input[type='email'],
    input[type='password'],
    input[type='text'] {
        box-shadow: none;
        border: none;
        font-size: 17px;
        height: 45px;
        border-radius: 0;
        &:focus {
            outline: 2px solid #ff9b00;
        }
    }
    .btn-normal-enable {
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: #f29402 !important;
            box-shadow: none !important;
        }
    }
}
.password-wrapper {
    position: relative;
}
.show-pass {
    position: absolute;
    right: 15px;
    top: 10px;
    color: grey;
    font-size: 18px;
    cursor: pointer;
}

.remember,
.forgot-password {
    color: white;
    font-family: 'Ubuntu';
}
.remember {
    margin-right: 25px;
    padding-right: 25px;
    position: relative;
    input {
        margin-top: 7px;
    }
    &:after {
        content: '';
        height: 15px;
        width: 1px;
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        background: #fff;
    }
}
.background-login img {
    width: 80%;
    display: table;
    margin-left: auto;
}
hr {
    border: none;
    border-left: 1px solid #989898;
    opacity: 0.5;
    height: 318px;
    width: 1px;
}
.dispatcherplatf {
    color: white;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-top: 10px;
}
.is-invalid {
    border-color: red;
}

@media (max-width: 1000px) and (min-width: 768px) {
    .background-login img,
    .dispatcherplatf {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .background-login img,
    .dispatcherplatf {
        margin: auto;
    }
}
