@import '../../variables';

.cf-main {
    font-family: Ubuntu;
    padding-left: 100px;
    overflow-x: hidden;
    height: 100vh;
    .cf-header {
        .navbar {
            height: 58px;
            padding: 0px;
            margin: 0px 0px 35px 0px;
            border-bottom: 0.5px solid $text-light-grey;
            .nav-tabs {
                border-bottom: none;
                .nav-item {
                    border-bottom: none;
                    &.active {
                        border-bottom: 3px solid $text-orange;
                        a {
                            color: $text-black;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                    a {
                        color: $text-black;
                        font-size: 17px;
                        text-decoration: none;
                        &.nav-link,
                        &.nav-link:hover,
                        &.nav-link:focus {
                            border: none;
                        }
                    }
                }
            }
            .navbar-nav {
                margin-right: 30px;
                > .nav-item {
                    img {
                        width: 21px;
                        height: 21px;
                        margin-right: 5px;
                    }
                    &.dropdown {
                        a {
                            padding: 0px;
                            font-size: 12px;
                            line-height: 32px;
                            color: $text-orange;
                            margin-top: 5px;
                            font-weight: bold;
                            text-transform: uppercase;
                            i {
                                width: 29px;
                                height: 29px;
                                margin-right: 10px;
                                vertical-align: middle;
                                color: $text-light-grey;
                                border: 2px solid $text-light-grey;
                                border-radius: 50%;
                                font-size: 25px;
                                overflow: hidden;
                                &::before {
                                    vertical-align: -15%;
                                }
                            }
                        }
                    }
                }
            }
            &.navbar-mobile {
                width: 100vw;
                background-color: $primary-dark-blue;
                .navbar-brand {
                    padding: 0px;
                    margin: 24px 18px 24px 18px;
                    color: $text-white;
                }
                .navbar-nav {
                    margin-right: 18.5px;
                    > .nav-item {
                        img {
                            margin-right: 0px;
                        }
                    }
                }
                .logo {
                    margin-left: calc((100vw - 153px) / 2 - 51px);
                    padding: 8px;
                    width: 153px;
                }
            }
        }

        .navbar-desktop .dropdown-menu {
            padding: 0;
            border-color: #ededed;
            box-shadow: 0 2px 5px #e1e1e1;
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 10px solid #fff;
                position: absolute;
                top: -10px;
                right: 40px;
            }
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 10px solid #ededed;
                position: absolute;
                top: -11px;
                right: 40px;
            }
            .dropdown-item {
                font-size: 11px;
                text-transform: capitalize;
                color: #111111;
                font-weight: normal;
                text-align: center;
                height: auto;
                padding: 10px 1.5rem;
                &:hover,
                &:focus {
                    font-weight: bold;
                    background: #ededed;
                }
            }
        }
    }
    input[name='searchbox'] {
        height: 40px;
        border-color: #989898;
        border-radius: 0;
    }
}
@media screen and (max-width: 991px) {
    .cf-main {
        padding-left: 0px;
        width: 100vw;
    }
}
