.mt-15 {
    margin-top: 15px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.dropdown-menu .fa:before {
    padding-right: 10px;
}

.text-right {
    float: right;
    cursor: pointer;
}

.text-right:hover {
        color: red;
    }

.sort_selected::after {
    content: '\f00c';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}
#form1 {
    float:left;
}
#search1 {
    float:left;
}