@CHARSET "ISO-8859-1";
.banner {
	background-color:#ffffff;
	background-image:url('../img/banner.png');
}
#content {
	padding-left:0px;
	padding-right:0px;
}
.content1 {
	margin-left:20px;
	margin-right:20px;
}
.text{
	margin-left:50px;
}
.text p{
	font-family:"Nunito";
	
}
.Mexico {
	float:left;
}