@import '../../variables';

.success-popup {
    .modal-body {
        .col {
            text-align: center;
            img {
                width: 84px;
                height: 84px;
                margin-bottom: 14px;
            }
            label {
                font-size: 28px;
                line-height: 25px;
                color: $green-success;
                margin-bottom: 20px;
            }
            span {
                font-size: 17px;
                line-height: 25px;
            }
        }
    }
    .modal-footer {
        padding: 35px 42px 60px 42px !important;
        .success-btn {
            width: 100%;
            background-color: $green-success;
            color: $text-white;
        }
    }
}
