// /** Font imports */
@font-face {
    font-family: Ubuntu;
    src: url('/app/fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
}
/** Primary Colours */
$primary-dark-blue: #0d1d2d;
$primary-orange: #ff9b00;
$primary-white: #ffffff;
/* Secondary Colours */
$secondary-light-blue: #497ff8; // Homepage pick-up bars
$secondary-blue: #004980; // Homepage drop-off bars
$secondary-red: #dd3030; // Homepage error bars
$secondary-dark-grey: #3c5165;
/** Rollover Colours */
$rollover-orange: #ff9b00;
$rollover-dark-orange: #f29402;
$rollover-dark-grey: #8e8c8c;
/** Text Colours */
$text-black: #111111;
$text-orange: #ff9b00;
$text-light-grey: #bbbbbb; // Search engine
$text-white: #ffffff;
$text-dark-orange: #ff7f00;
$text-green: #11a88b; // Success prompt
$text-red: #ff0000; // Error messages
$text-dark-grey: #3c5165; // Delete prompt
/** Grey Colours */
$grey-1: #fafafa;
$grey-2: #f9f9f9;
$grey-3: #f1f1f1;
$grey-4: #dddddd;
$grey-5: #a8a8a8;
$grey-6: #8d8d8d;
/** Customized Colours */
$green-success: #11a88b;
