.add-new-popup {
    max-width: 600px;
}

.custom-select-box {
    font-size: 17px;
}
#working-hour .col {
    padding: 10px 5px 10px 0px;
}
#working-hour .col select.form-control {
    padding-left: 1px;
    padding-right: 0px;
}

#working-hour .wh-day select {
    padding-left: 4px !important;
}
.wh-row .row {
    margin-left: 0px;
    margin-right: 0px;
}
.wh-row {
    padding-left: 0px;
    padding-right: 0px;
}
.add-operating-hour-btn .col {
    padding-left: 0px;
    padding-right: 0px;
}
.add-operating-hour-btn {
    margin-left: 0px;
    margin-right: 0px;
}
.add-operating-hour-btn .cf-checkbox-value {
    padding-left: 22px;
}
