// @import '../../variables';
// .container {
//     width: 100px;
// }
// .termOfUse {
//     width: 85%;
//     height: 60%;
//     border-Radius: 10px;
//     overflow: 'hidden';
//     padding-Bottom: 23px,
// }
// .termOfUseContentContainer {
//     padding-Top: 10;
//     margin-Top: 7;
//     background-color: $primary-white;
// }
